@font-face {
    font-family: 'Caveat-Regular';
    src: url('../font/Caveat-Regular.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../font/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../font/Dosis-Regular.ttf');
}

* {
    position: relative;
}

body,
html {
    z-index: 0;
    background: #FFD22F;
    color: #000000;
}


/** INICIO **/

section.inicio {
    text-align: center;
}

p.text-1 {
    font-family: 'Caveat-Regular', sans-serif;
    font-size: 79px;
    font-weight: bold;
    z-index: -1;
    line-height: 1;
    display: flex;
    justify-content: center;
    top: 100px;
}

p.text-2 {
    font-family: 'Caveat-Regular', sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 495px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 32px;
    top: 80px;
    z-index: -1;
}


/** SERVIÇOS **/

p.titlo-servicos {
    font-family: 'TitilliumWeb-Regular', sans-serif;
    font-size: 32px;
    font-weight: bold;
    z-index: -1;
    line-height: 1;
    display: flex;
    justify-content: center;
    top: 255px;
}

.titlo {
    font-family: 'TitilliumWeb-Regular', sans-serif;
    font-size: 28px;
    z-index: -1;
    line-height: 1;
    display: flex;
    justify-content: center;
}


/** IMAGENS */

img.redondado {
    border: 1px solid transparent;
    border-radius: 50%;
}