::root {
    --cor-primaria: #ffff;
    --cor-segundaria: #000;
}


/* SECTION - Fontes */
@font-face {
    font-family: 'Caveat-Regular';
    src: url('../../font/Caveat-Regular.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../../font/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../../font/Dosis-Regular.ttf');
}
/* !SECTION */

* {
    position: relative;
}

body,
html {
    background: #ffff;
    color: #000000;
    z-index: -1;
}

.titulo-pagina {
    font-family: 'Dosis-Regular', sans-serif;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    top: 300px;
}