::root {
    --cor-primaria: #ffff;
    --cor-segundaria: #000;
}


/* SECTION - Fontes */
@font-face {
    font-family: 'Caveat-Regular';
    src: url('../font/Caveat-Regular.ttf');
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../font/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../font/Dosis-Regular.ttf');
}
/* !SECTION */

/* SECTION - Informações gerias da pagima */
* {
    position: relative;
}

body,
html {
    background: #ffff;
    color: #000000;
    z-index: -1;
}
/* !SECTION */

/* SECTION - CSS Inicio */
.titulo-pagina {
    font-family: 'Dosis-Regular', sans-serif;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    top: 250px;
}

.subtitulo-pagina {
    font-family: 'Dosis-Regular', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    top: 230px;
}
/* !SECTION */

/* SECTION - CSS Serviços */
.titulo-servicos {
    font-family: 'Dosis-Regular', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    top: 800px;
}

/*SECTION - CSS Apoio Psicologico */
div.apoios-psi { /*ANCHOR - CSS da Div do Apoio Psicologico */
    top: 800px;
}

p.titulo-apoio_psi { /*ANCHOR - Titulo do Apoio Psicologico */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

p.texto-apoio_psi { /*ANCHOR - Texto do Apoio Psicologico */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    width: 900px;
    text-align: center !important;
    left: 480px;
} 
/* !SECTION */
/* !SECTION */

.orientacao-escolar {
    display: none;
}