@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('font/TitilliumWeb-Regular.ttf');
}

nav {
    background: #2f1e0a;
    /* Mudar */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

#navbar a {
    font-family: 'TitilliumWeb-Regular', sans-serif;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px !important;
    font-weight: bold;
    z-index: 1 !important;
}

#navbar a:hover {
    color: orange;
}

.contactos {
    top: 5px;
}