@font-face {
    font-family: 'Reboto'; 
    src: url('font/Roboto-Regular.ttf') format('truetype'); 
}

body {
    font-family: 'Reboto', sans-serif;
}

* {
    position: relative;
}

main {
    width: 0;
}

#titlo_pagina {
    top: 130px;
    left: 20px;
    font-weight: bold;
    font-size: 35px;
}