.botoes_nav {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    margin-right: 15px;
}
  
a#coluna_2 {
    top: 60px;
    right: 480px;
}

a#coluna_3 {
    top: 122px;
    right: 1029px;
}