<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
    <title>PAP</title>
</head>

<body>
    <nav>
        <a href="#">Lorem</a>
        <a href="#">ipsum</a>
        <a href="#">dolor</a>
        <a href="#">sit</a>
        <a href="#">amet</a>
    </nav>
    <body>
        <section>
            <img src="{{ url_for('static', filename='img/perfil.jpeg') }}" alt="Perfil">
        </section>
        <section class="informacoes">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nunc vitae dapibus odio, a euismod arcu. Quisque ornare, neque quis lobortis laoreet, 
                felis lacus ultrices velit, in ornare ligula nulla non neque. Vivamus ac justo a dui fermentum rhoncus. 
                Maecenas cursus aliquam ligula at blandit. Nullam tristique enim non lectus aliquam dictum. 
                Praesent ut mauris euismod, scelerisque neque ut, imperdiet libero. Sed sollicitudin tortor lacus.
            </p>
        </section>
    </body>
</body>

</html>