<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
    <title>PAP</title>
</head>

<body>
    <nav class="navegacao">
        <a href="#">Inicio</a>
        <a href="#">Sobre</a>
        <a href="#">Serviços</a>
        <a href="#">Profissoes/Cursos</a>
        <a href="#">Link Uteis</a>
        <a href="#">Contacto</a>
    </nav>
    <body>
        <section>
            <img src="#" alt="Base">
            <p>Psicologia na escola</p>
            <p>Nos dias que não sabes o que escolher, escolhe a tua saude mental!</p>
        </section>
        <section class="sobre">
            <p>Sobre<p>
            <p>O que é, como funciona, para que server a psicologia escolar?</p>
        </section>
    </body>
</body>

</html>