body {
  background: #20a1e8;
  color: black;
}

.connjuto_botoes_1 {
  margin: 95px 0px 0px 35px;
  display: flex;
}

.connjuto_botoes {
  margin: 10px 0px 0px 35px;
  display: flex;
}

.aviso-btn {
  font-size: 17px;
  width: 135px;
  height: 90px;
  text-align: center;
  background-color: #554b8b;
  border: 1px solid #63636346;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.aviso-btn:last-child {
  margin-right: 0;
}

.aviso-btn:hover {
  color: #ffffff;
  background-color: #307fff;
  border: 1px solid transparent;
}

.aviso-btn a {
  text-decoration: none;
  color: #ffffff;
}