body {
  background: #20a1e8;
  color: black;
}

#botao {
  background-color: #554b8b;
  border: 1px solid #63636346;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  text-align: center;
  width: 145px;
}

a#botao {
  text-decoration: none;
}

#botao:hover {
  color: #ffffff;
  background-color: #307fff;
  border: 1px solid transparent;
}

.connjuto_botoes_1 {
  margin: 95px 0px 0px 35px;
}
