@font-face {
  font-family: "Reboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}

* {
  position: relative;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Reboto", sans-serif;
}

.login-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.botao {
  top: 28px;
  right: 100px;
}

.senha {
    top: 10px;
    left: 5px;
}

.senha_nome {
    top: 10px;
}