html, body {
    width: 0;
    height: 0;
}

* {
    position: relative;
}

nav {
    margin-top: 25px;
    margin-left: 25px;
    height: 200px;
}

a.botoes {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    color: black;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}


#botao_2 {
    left: 180px;
    bottom: 42px;
}

#botao_3 {
    left: 360px;
    bottom: 83px;
}

#botao_4 {
    bottom: 60px;
}

#botao_5 {
    left: 180px;
    bottom: 103px;
}

#botao_6 {
    left: 360px;
    bottom: 145px;
}

#botao_7 {
    bottom: 120px;
}

#botao_8 {
    left: 179px;
    bottom: 162px;
}

#botao_9 {
    left: 360px;
    bottom: 203px;
}