<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='img/logo_transparente.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main_aviso_escola.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='aside_aviso_escola.css') }}">
    <title>PAP Aviso Escola</title>
</head>
<body>
    <h1>Aviso Escola</h1>
</body>
</html>