<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='img/logo_transparente.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aviso_escola/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aviso_escola/aside.css') }}">
    <title>PAP Aviso Escola</title>
</head>
<body>
    <section class="section_titlo">
        <h1 class="titlo_pagina">Aviso Escola</h1>
    </section>
    <section class="noticia" id="noticia_1">
        <a href="#">
            <h2 class="titlo_noticia">Titulo da Noticia</h2>
            <h3 class="data_noticia">Data da Noticia</h3>
            <p class="texto_noticia">Lorem ipsum </p>
        </a>
    </section>
    <section class="noticia" id="noticia_2">
        <a href="#">
            <h2 class="titlo_noticia">Titulo da Noticia</h2>
            <h3 class="data_noticia">Data da Noticia</h3>
            <p class="texto_noticia">Lorem ipsum </p>            
        </a>
    </section>
    <aside>
        <p class="nome">Luis Gomes</p>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
        <a href="{{ url_for('area_de_utilizador') }}" class="home">Home</a>
    </aside>
</body>
</html>