.modo_claro {
    color: white;
    text-decoration: none;
    left: 1350px;
    bottom: 298px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
    background: #084a88;
}

.botao_login {
    bottom: 296px;
    left: 1330px;
    text-decoration: none;
    color: white;
}

i.fa-solid.fa-right-from-bracket {
    margin: 0;
    padding: 0;
    top: -240px;
    left: 1280px;
}

a.logout {
    color: white;
    text-decoration: none;
    background: transparent;
}