nav {
    margin-top: 25px;
    margin-left: 25px;
}

#botoes_nav {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: #083258;
    color: white;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    margin-right: 15px;
}

a.botao_2 {
    top: 55px;
    right: 514px;
}

a.botao_3 {
    top: 110px;
    right: 1025px;
}
